[submodule "Synergy/libs/spdlog"]
	path = Synergy/libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Synergy/libs/glfw"]
	path = Synergy/libs/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Synergy/libs/GLAD"]
	path = Synergy/libs/GLAD
	url = https://github.com/Dav1dde/glad.git
